pandas
pyspark
pyarrow
fastavro
slack_sdk
aiohttp
matplotlib
dbt-core
dbt-postgres
dbt-trino
psycopg2-binary
sqlalchemy
re_data
apache-airflow==2.5.1
astronomer-cosmos
apache-airflow-providers-trino